body{
   background-color:gold ;
   color: blue;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
    text-size-adjust: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: right;
}

h2{
    text-size-adjust: 22px;
}
.om{
    text-align: left;
    border-style: solid;
    border-color: aqua;
}
.tek{
    text-align: center;
    background-color: darkgreen;
    color:chartreuse
}