.wrapper{/*wrappern är som en gridkontainer*/
    background-color:grey;
    color:white;
    display:grid;
    grid-template-rows:80px 80px auto 50px;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
}

section img{/*bestämmer storleken på bilderna*/
  width:850px
}
li{/*Gör så att menyelemten blir stora får en viss storlek och ett visst typsnitt*/
    border:2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

header{/*gör så att min header har backgroundsfärgen svart*/
    grid-area:header;
    background-color:black;
}
 
h1{/*gör så att rubriken blir centrerad.*/
    text-align:center; 
}

nav{
    grid-area: nav;
}

nav ul{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    padding: 0;

}

nav li{/*gör så texten i tabellen blir centrerad.*/
    list-style-type:none;
    text-align:center;
}

main{
    grid-area:main;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

table {/*gör så det inte finns mellanrum mellan kolumernam, Border-collapse slår ihp linjer till en */
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {/*tabeller*/
    border: 2px solid rgb(2, 2, 2);
    text-align: left;
    padding: 25px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    text-align: center;
  }

  tr:nth-child(even) { /*färgar halva tabellern svart*/
    background-color: rgb(0, 0, 0);
  }

  h2{/*gör så att text all text som är nemd h2 blir centrerad*/
    text-align:center
  }

  p{/*gör så all text inom p blir centrerad*/
    text-align:center
  }
  
  
  
 
  
